<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        executionOrder="depends,defects"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        failOnRisky="true"
        failOnWarning="true"
        cacheDirectory=".phpunit.cache"
        beStrictAboutCoverageMetadata="true"
>
  <testsuites>
    <testsuite name="Leetcode">
      <directory suffix="Test.php">./tests/Leetcode</directory>
    </testsuite>
    <testsuite name="Utility">
      <directory suffix="Test.php">./tests/Utility</directory>
    </testsuite>
    <testsuite name="AlgoExpert">
      <directory suffix="Test.php">./tests/AlgoExpert</directory>
    </testsuite>
  </testsuites>
</phpunit>
